
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            background-color: #000033; /* Dark blueish-black background color */
            margin: 0; /* Remove default margin */
            border: 10px solid #007BFF; /* Add page border */
        }

        h1 {
            font-size: 32px;
            font-family: 'Helvetica', sans-serif;
            margin-bottom: 20px;
            color: #fff; /* White text color for heading */
        }

        #map {
            height: 400px;
            margin: 20px auto;
        }

        #route-form {
            width: 400px;
            margin: 0 auto;
            text-align: left;
            display: flex;
            flex-direction: column; /* Display form elements in a column */
            gap: 10px; /* Add spacing between form elements */
            padding: 20px; /* Increase padding for the form */
            border-radius: 10px;
            background-color: #fff;
        }

        label {
            display: block;
        }

        input[type="text"] {
            width: 90%;
            padding: 10px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
        }

        button:hover {
            background-color: #0056b3;
        }

        #cheapest-route-button {
            background-color: #28a745;
        }

        #cheapest-route-button:hover {
            background-color: #1e7e34;
        }

        #itinerary {
            width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f5f5f5;
            text-align: left;
        }

         #legend {
          position: absolute;
          top: 500px;
          right: 10px;
          background-color: white;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;
          z-index: 1000;
        }
        
        .legend-item {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
        }
        
        .legend-color {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border: 1px solid #ccc;
        }
